.bodycontrol{
  text-align: center;
  align-items: center;
}

.doorstext{
  margin: auto auto;
}

.doorsvalue{
  margin: auto auto;
}

.windowstext{
  margin: auto auto;
}

.windowsvalue{
  margin: auto auto;
}

.sunrooft{
  padding: 1vh;
  margin: auto auto;
}

.sunroofv{
  padding: 1vh;
  margin: auto auto;
}

.chargeporttext{
  padding: 1vh;
  margin: auto auto;
}

.chargeportvalue{
  padding: 1vh;
  margin: auto auto;
}

.textSmall{
  color: hsl(0, 0%, 85%);
  font-size: 1.5vmin;
  font-family: Arial;
  margin: 1.5vh;
}

.text{
  color: hsl(0, 0%, 85%);
  font-size: 2vmin;
  font-family: Arial;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.6vw;
  height: 1.5vw;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(0, 0%, 60%);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3vw;
  width: 1.3vw;
  left: 0.1vw;
  bottom: 0.1vw;
  background-color: hsl(0, 0%, 95%);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1vw green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.2vw);
  -ms-transform: translateX(1.2vw);
  transform: translateX(1.2vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1.1vw;
}

.slider.round:before {
  border-radius: 50%;
}
