<div class="bodycontrol">
    <mat-accordion>
      <mat-expansion-panel style="background-color:hsl(275, 0%, 20%);" [expanded]="true">
        <mat-expansion-panel-header style="background-color:hsl(275, 0%, 20%);" class="specific-class">
          <mat-panel-title class="text">
            DOORS
          </mat-panel-title>
          <mat-panel-description>
            <mat-chip-list style="padding-left: 1.6vw">
              <mat-chip *ngIf="_doors" style="background-color: hsl(0, 100%, 39%);" class="textSmall" selected (click) = "doorscloseall()">OPEN</mat-chip>
              <mat-chip *ngIf="!_doors" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected>CLOSED</mat-chip>
            </mat-chip-list>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table style="width: 100%">
          <tr>
            <td>
              <p class="textSmall">Front L</p>
            </td>
            <td>
              <p class="textSmall">Front R</p>
            </td>
            <td>
              <p class="textSmall">Back L</p>
            </td>
            <td>
              <p class="textSmall">Back R</p>
            </td>
            <td>
                <p class="textSmall">Trunk</p>
            </td>
            <td>
                <p class="textSmall">Frunk</p>
            </td>
          </tr>
          <tr>
            <td>
              <label class="switch">
                <input type="checkbox" [(checked)]="_doorsfl" [(ngModel)]="_doorsfl" (change)="bodyControlChange()">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" [(checked)]="_doorsfr" [(ngModel)]="_doorsfr" (change)="bodyControlChange()">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" [(checked)]="_doorsbl" [(ngModel)]="_doorsbl" (change)="bodyControlChange()">
                <span class="slider round"></span>
              </label>              
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" [(checked)]="_doorsbr" [(ngModel)]="_doorsbr" (change)="bodyControlChange()">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" [(checked)]="_trunk" [(ngModel)]="_trunk" (change)="bodyControlChange()">
                <span class="slider round"></span>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" [(checked)]="_frunk" [(ngModel)]="_frunk" (change)="bodyControlChange()">
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel style="background-color:hsl(275, 0%, 20%);" [expanded]="true">
          <mat-expansion-panel-header style="background-color:hsl(275, 0%, 20%);" class="specific-class">
            <mat-panel-title class="text">
              WINDOWS
            </mat-panel-title>
            <mat-panel-description>
              <mat-chip-list>
                <mat-chip *ngIf="_windows" style="background-color: hsl(0, 100%, 39%);" class="textSmall" selected (click) = "windowcloseall()">OPEN</mat-chip>
                <mat-chip *ngIf="!_windows" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected>CLOSED</mat-chip>
              </mat-chip-list>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table style="width: 100%">
            <tr>
              <td>
                <p class="textSmall">Front L</p>
                <div style="padding-left: 1.3vw">
                  <mat-chip-list>
                    <mat-chip *ngIf="!_windowfltext" style="background-color: green;" class="textSmall" selected>CLOSED</mat-chip>
                    <mat-chip *ngIf="_windowfltext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickclosefl()">CLOSED</mat-chip>
                  </mat-chip-list>
                </div>
              </td>
              <td>
                <p class="textSmall">Front R</p>
                <div style="padding-left: 1.3vw">
                    <mat-chip-list>
                      <mat-chip *ngIf="!_windowfrtext" style="background-color: green;" class="textSmall" selected>CLOSED</mat-chip>
                      <mat-chip *ngIf="_windowfrtext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickclosefr()">CLOSED</mat-chip>
                  </mat-chip-list>
                </div>
              </td>
              <td>
                <p class="textSmall">Back L</p>
                <div style="padding-left: 1.3vw">
                    <mat-chip-list>
                      <mat-chip *ngIf="!_windowbltext" style="background-color: green;" class="textSmall" selected>CLOSED</mat-chip>
                      <mat-chip *ngIf="_windowbltext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickclosebl()">CLOSED</mat-chip>
                  </mat-chip-list>
                </div>
              </td>
              <td>
                <p class="textSmall">Back R</p>
                <div style="padding-left: 1.3vw">
                    <mat-chip-list>
                      <mat-chip *ngIf="!_windowbrtext" style="background-color: green;" class="textSmall" selected>CLOSED</mat-chip>
                      <mat-chip *ngIf="_windowbrtext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickclosebr()">CLOSED</mat-chip>
                  </mat-chip-list>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                  <mat-slider vertical [(ngModel)]="_windowfl" invert (change)="bodyControlChange()"></mat-slider>
              </td>
              <td>
                  <mat-slider vertical [(ngModel)]="_windowfr" invert (change)="bodyControlChange()"></mat-slider>
              </td>
              <td>
                  <mat-slider vertical [(ngModel)]="_windowbl" invert (change)="bodyControlChange()"></mat-slider>
              </td>
              <td>
                  <mat-slider vertical [(ngModel)]="_windowbr" invert (change)="bodyControlChange()"></mat-slider>
              </td>
            </tr>
            <tr>
              <td style="align-content:center;">
                <div style="padding-left: 1.8vw">
                  <mat-chip-list>
                    <mat-chip *ngIf="_windowfltext" style="background-color: green;" class="textSmall" selected>OPEN</mat-chip>
                    <mat-chip *ngIf="!_windowfltext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickopenfl()">OPEN</mat-chip>
                  </mat-chip-list>
                </div>
              </td>
              <td>
                <div style="padding-left: 1.8vw">
                  <mat-chip-list>
                    <mat-chip *ngIf="_windowfrtext" style="background-color: green;" class="textSmall" selected>OPEN</mat-chip>
                    <mat-chip *ngIf="!_windowfrtext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickopenfr()">OPEN</mat-chip>
                  </mat-chip-list>
                </div>
              </td>
              <td>
                <div style="padding-left: 1.8vw">
                  <mat-chip-list>
                    <mat-chip *ngIf="_windowbltext" style="background-color: green;" class="textSmall" selected>OPEN</mat-chip>
                    <mat-chip *ngIf="!_windowbltext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickopenbl()">OPEN</mat-chip>
                  </mat-chip-list>
                </div>
              </td>
              <td>
                <div style="padding-left: 1.8vw">
                  <mat-chip-list>
                    <mat-chip *ngIf="_windowbrtext" style="background-color: green;" class="textSmall" selected>OPEN</mat-chip>
                    <mat-chip *ngIf="!_windowbrtext" style="background-color: hsl(275, 0%, 45%);" class="textSmall" selected (click) = "windowclickopenbr()">OPEN</mat-chip>
                    </mat-chip-list>
                </div>
              </td>
            </tr>
          </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>
