<div fxLayout="column" class="stateofchargecontrol">
  <div style="padding: 2vh">
    <p class="textSmall">CHARGE REMAINING
      <!-- <mat-icon style="font-size: 35px; position: relative; top: 10px">battery_charging_full</mat-icon> -->
      <img src="assets/icons/battery_charging_full.svg" alt="">
    </p>
    <div class="battery">
      <div [ngClass]="_percentRemaining?getChargeClass():''" [style.width.%]="_percentRemaining">
        {{_percentRemaining}}%
      </div>
    </div>
  </div>
  <div style="padding: 2vh">
    <p class="textSmall">MILEAGE REMAINING
        <!-- <mat-icon style="font-size: 35px; position: relative; top: 10px">ev_station</mat-icon> -->
        <img src="assets/icons/ev_station.svg" alt="">
    </p>
    <div class="battery">
      <div [ngClass]="_remainingMileage?getMileageClass():''" [style.width.%]="_mileagepercent">
        {{_remainingMileage}}miles
      </div>
    </div>
  </div>
</div>
