<div fxLayout="column" class="stateofchargecontrol">
  <div style="padding: 2vh">
    <p class="textSmall">CHARGE REMAINING</p>
    <div class="battery">
      <div [ngClass]="_percentRemaining?getChargeClass():''" [style.width.%]="_percentRemaining">
        {{_percentRemaining}}%
      </div>
    </div>
  </div>
  <div style="padding: 2vh">
    <p class="textSmall">MILEAGE REMAINING</p>
    <div class="battery">
      <div [ngClass]="_remainingMileage?getMileageClass():''" [style.width.%]="_mileagepercent">
        {{_remainingMileage}}miles
      </div>
    </div>
  </div>
</div>
