.configgrid{
  display: grid;
  grid: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
  height: 100%;
  width: 100%;
  text-align: left;
  grid-template-areas:
    "j j"
    "m m"
    "a k"
    "b c"
    "f g"
    "h i"
    "n o"
    "p q"
    "d e";
}

.nickname{
  grid-area: j;
}

.vinvalue{
  grid-area: m;
}

.dbidtext{
  grid-area: n;
}

.dbidvalue{
  grid-area: o;
}

.envtext{
  grid-area: p;
}

.envvalue{
  grid-area: q;
}

.modeltext{
  grid-area: a;
}

.modelvalue{
  grid-area: k;
}

.carcolortext{
  grid-area: b;
}

.carcolorvalue{
  grid-area: c;
}

.wheeltypetext{
  grid-area: d;
}

.wheeltypevalue{
  grid-area: e;
}

.sunrooftext{
  grid-area: f;
}

.sunroofvalue{
  grid-area: g;
}

.dualmotortext{
  grid-area: h;
}

.dualmotorvalue{
  grid-area: i;
}

.textSmall{
  color: hsl(0, 0%, 85%);
  font-size: 1.25vmin;
  font-family: Arial;
}

.text{
  color: hsl(0, 0%, 85%);
  font-size: 2vmin;
  font-family: Arial;
  margin-bottom: 2.55vw;
  margin-left: 1vh;
  margin-top: 2vw;
  margin-right: 1vh;
}

.textLarge{
  color: hsl(0, 0%, 85%);
  font-size: 4vmin;
  font-family: Helvetica, sans-serif;
}
