<div class="configgrid">
  <div class="nickname" style="text-align: center">
    <p class="text">LIGHTNING MCQUEEN</p>
  </div>
  <div class="vinvalue" style="text-align: center">
    <p class="text">5YJEF14NXJCA59714</p>
  </div>
  <div class="dbidtext" style="text-align: right;">
    <p class="text">Database Id : </p>
  </div>  
  <div class="dbidvalue">
    <p class="text">80</p>
  </div>
  <div class="modeltext" style="text-align: right;">
    <p class="text">Model : </p>
  </div>
  <div class="modelvalue">
      <p class="text">{{_model}}</p>
  </div>
  <div class="carcolortext" style="text-align: right;">
    <p class="text">Color : </p>
  </div>
  <div class="carcolorvalue">
    <p class="text">{{_color}}</p>
  </div>
  <div class="sunrooftext" style="text-align: right;">
    <p class="text">Sunroof : </p>
  </div>
  <div class="sunroofvalue">
    <p class="text"> {{_sunroofString}} </p>
  </div>
  <div class="dualmotortext" style="text-align: right;">
    <p class="text">Dual Motor : </p>
  </div>
  <div class="dualmotorvalue">
    <p class="text"> {{_dualmotorString}} </p>
  </div>
  <div class="envtext" style="text-align: right;">
    <p class="text">Environment : </p>
  </div>  
  <div class="envvalue">
    <p class="text">Engineering</p>
  </div>
  <div class="wheeltypetext" style="text-align: right;">
    <p class="text">Wheel Type : </p>
  </div>
  <div class="wheeltypevalue">
    <p class="text">{{_wheel}}</p>
  </div>
</div>
