.dsgrid{
  display: grid;
  grid: 1fr 1fr 1fr 1fr / 1fr;
  height: 100%;
  width: 100%;
  grid-template-areas:
      "a"
      "a"
      "b"
      "c";
  text-align: center;
}

.dscontrol{
  text-align: center;
  align-items: center;
}

.speed{
  grid-area: a;
}

.acceleration{
  grid-area: b;
}

.gear{
  grid-area: c;
}

.textSmall{
  color: white;
  font-size: 1.25vmin;
  font-family: Arial;
}

.text{
  color: white;
  font-size: 2.2vmin;
  font-family: Arial;
}

.textLarge{
  color: white;
  font-size: 7vmin;
  font-family: Helvetica, sans-serif;
}

.image{
  width: 2vh;
  height: 2vh;
}
