.dscontrol{
  text-align: center;
  align-items: center;
}

.speed{}

.acceleration{}

.gear{}

.textSmall{
  color: hsl(0, 0%, 80%);
  font-size: 1.25vmin;
  font-family: Arial;
  margin: 1.5vh;
}

.text{
  color: hsl(0, 0%, 95%);
  font-size: 2.2vmin;
  font-family: Arial;
  margin: 1.5vh;
}

.textLarge{
  color: white;
  font-size: 7vmin;
  font-family: Helvetica, sans-serif;
  margin: 2vh;
}

.textodo{
  color: hsl(0, 0%, 95%);
  font-size: 1.5vmin;
  font-family: Arial;
  margin: 1.5vh;
}

.image{
  width: 2vh;
  height: 2vh;
}
