.identitygrid{
  display: grid;
  grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "a a"
    "a a"
    "b b"
    "c d";
  text-align: center;
}

.nickname{
  grid-area: a;
}

.vin{
  grid-area: b;
}

.dbid{
  grid-area: c;
}

.environment{
  grid-area: d;
}

.textSmall{
  color: hsl(0, 0%, 85%);
  font-size: 1.25vmin;
  font-family: Arial;
}

.text{
  color: hsl(0, 0%, 85%);
  font-size: 2vmin;
  font-family: Arial;
}

.textLarge{
  color: hsl(0, 0%, 85%);
  font-size: 4vmin;
  font-family: Helvetica, sans-serif;
}
