.identitycontrol{
  text-align: center;
  align-items: center;
}

.nickname{}

.vin{}

.dbid{}

.environment{}

.textSmall{
  color: hsl(0, 0%, 85%);
  font-size: 1.25vmin;
  font-family: Arial;
  text-align: center;
}

.text{
  color: hsl(0, 0%, 85%);
  font-size: 2vmin;
  font-family: Arial;
  text-align: center;
}

.textLarge{
  color: hsl(0, 0%, 85%);
  font-size: 4vmin;
  font-family: Helvetica, sans-serif;
}
