<div class="identitycontrol">
<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile colspan=5>
      <p class="text">{{_nickName}}</p>
  </mat-grid-tile>
  <mat-grid-tile colspan=1>
      <span class="textSmall">VIN</span>
  </mat-grid-tile>
  <mat-grid-tile colspan=4>
      <span class="text">{{_vin}}</span>
  </mat-grid-tile>
  <mat-grid-tile colspan=1>
      <span class="textSmall">Vehicle database ID</span>
  </mat-grid-tile>
  <mat-grid-tile colspan=4>
      <span class="text">{{_vehicledbId}}</span>
  </mat-grid-tile>
</mat-grid-list>


  <div class="nickname">
    <p class="text">{{_nickName}}</p>
  </div>
  <div class="vin">
    <p class="textSmall">VIN
        <span class="text">{{_vin}}</span>
    </p>
  </div>
  <div class="dbid">
    <p class="textSmall">Vehicle database ID
    </p>
    <p class="text">{{_vehicledbId}}</p>
  </div>
  <div class="environment">
    <p class="textSmall">Environment</p>
    <p class="text">{{_environment}}</p>
  </div>
</div>
