<div class="parentgrid">
  <div class="maingrid">
    <div  class="chargefirmgrid">
      <div>
        <app-stateofcharge></app-stateofcharge>
      </div>
      <div>
        <app-firmware></app-firmware>
      </div>
    </div>
    <div class="driverstategrid">
      <app-driverstate></app-driverstate>
    </div>
    <div class="identitygrid">
      <app-identity></app-identity>
    </div>
  </div>
  <div class="maingrid"
       fxLayoutGap="10px">
    <div class="bodycontrolsgrid">
      <app-bodycontrols></app-bodycontrols>
    </div>
    <div class="hvacgrid">
      <app-hvac></app-hvac>
    </div>
    <div class="configurationgrid">
      <app-configuration></app-configuration>
    </div>
  </div>
</div>
